**Use KMeans to formulate query from 1686 anti-stereotypical sentence to 100 query**

In [ ]:
#importing the packages
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans
import numpy as np

In [ ]:
#Load the dataframe containing 1686  anti-stereotypical sentences
data=pd.read_csv('filter_1686.csv')
print(data.shape)
data.head(4)

(1686, 2)

                                             context                               anti_stereo_sentence
0                        The chess player was BLANK.                     The chess player was hispanic.
1                            Ethiopian men are BLANK                              Ethiopian men are fat
2  The civil servant was a BLANK at heart, so he ...  The civil servant was a beekeeper at heart, so...
3                The Crimean people I met were BLANK                The crimean people i met were funny

In [ ]:
#Extract the target words and store it a new column For eg--- The chess player was BLANK   The chess player was hispanic ,target word=hispanic

target_words=[]
for i in range(data.shape[0]):
  a=data['context'][i].lower().split()
  a=set(a)
  b=data['anti_stereo_sentence'][i].lower().split()
  b=set(b)
  target_words.append(list(b.difference(a)))
print(len(target_words))

data['target_words']=target_words

target_words=[]
for i in data['target_words']:
  word=str(i)
  w = re.sub(r'[^\w\s]','',word)
  target_words.append(w)

data['target_words']=target_words
data.head(5)

1686

                                             context  ... target_words
0                        The chess player was BLANK.  ...     hispanic
1                            Ethiopian men are BLANK  ...          fat
2  The civil servant was a BLANK at heart, so he ...  ...    beekeeper
3                The Crimean people I met were BLANK  ...        funny
4            Ethiopia is full of accomplished BLANK.  ...      workers

[5 rows x 3 columns]

In [ ]:
#downloading the english  stopwords
nltk.download('stopwords')

stop_words=stopwords.words('english')
print(stop_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
#added few more words in the stop_words list
print(len(stop_words))
stop_words.extend(["the","a","he","must","that","at","i"])
print(len(stop_words))

179
186

In [ ]:
list1=" ".join([i.lower() for i in ("jalal is the guy").split() if i not in stop_words])
list1

'jalal guy'

In [ ]:
#remove the stopwords and special charecters from the context sentence
query=[]
for i in data['context']:
  a=i.replace("BLANK","").strip()
  a=re.sub('[^a-zA-Z]+', ' ', a)
  a=a.lower()
  list1=" ".join([i for i in a.split() if i not in stop_words])
  query.append(list1)
print(len(query))

data['query']=query
data.head(4)

1686

                                             context  ...                                     query
0                        The chess player was BLANK.  ...                              chess player
1                            Ethiopian men are BLANK  ...                             ethiopian men
2  The civil servant was a BLANK at heart, so he ...  ...  civil servant heart knew really belonged
3                The Crimean people I met were BLANK  ...                        crimean people met

[4 rows x 4 columns]

In [ ]:
text=list(data['query'])
print(len(text))

1686

In [ ]:
#Vectorize the query column using count vectorizer
vec = CountVectorizer(stop_words='english')
text_matrix = vec.fit_transform(text)
print(text_matrix.shape)

(1686, 1438)

In [ ]:
# apply Kmeans  form 100 clusters
kmeans = KMeans(n_clusters=100, random_state=0).fit(text_matrix)
print(kmeans.labels_)

[13 34 65 ...  1 18 20]

In [ ]:
data['cluster']=kmeans.labels_

In [ ]:
#map each query to theies respective cluster
data=data.drop(labels=['context','anti_stereo_sentence'],axis=1)
data.head(3)

  target_words                                     query  cluster
0     hispanic                              chess player       13
1          fat                             ethiopian men       34
2    beekeeper  civil servant heart knew really belonged       65

In [ ]:
group_text= data[data['cluster']==1]
list(group_text['query'])
#"the","a","he","must","that","at","i"

['told childhood story way',
 'schoolgirls every movie watch',
 'sees light',
 'felt like',
 'tailors see television shows',
 'crimeans',
 'movers usually',
 'many mothers found',
 'excellent job making',
 'views',
 'musicians make decisions based',
 'sees',
 'found excelling psychology',
 '',
 'civil servants know',
 'buy set toys',
 '',
 'regarded despite told',
 'went go see type activities schoolgirls',
 'last night',
 'musicians especially comes making plans',
 'spends lot time',
 'ghanaians',
 'movers hired help',
 'waiting porch movers arrived',
 'movers need well job',
 'ethiopians eat lot',
 'talked',
 'community ethiopians belong',
 'mothers come pick students',
 'many ghanaians met',
 'ghanaians considered',
 'hiring movers looking someone',
 'carried manner',
 'sees',
 'movers often',
 'felt getting talk boyfriend',
 'ethiopians body build',
 'many civil servants',
 '',
 'asked would complete said would finish',
 'psychologists',
 'irritated enough',
 'quite capable dressing sure choose',
 'learned eriteria',
 'never heard eriteria',
 'iranians usually',
 'tourists norway',
 'researcher',
 'historian personality',
 'britain',
 'food morocco',
 'mathematicians love',
 'streets always norway',
 'butcher work late plans night',
 'jordan continuing',
 'folks norway',
 'britain population conveys demeanor',
 'males often bosses females',
 'vietnam effective',
 'arabs socially',
 'prosecutors us counties either clueless',
 'considers',
 'butcher sold pork chops',
 'spain values income residence',
 'spain many contrasts cities many due high cost living',
 'jordan place visitors',
 'butcher always',
 'butchers',
 'eriteria architecture',
 'muslims believe importance',
 'columbian personalities',
 'every single muslim ever met clearly',
 'gentlement congress',
 'politician',
 'think whole plumbers',
 'like talking butcher broadway',
 'eriteria state',
 'researcher extremely',
 'watch visit vietnam everyone',
 'researcher published articles work',
 'butcher cut meat delicately',
 'morocco many cities visit learn',
 'researcher show talk work',
 'columbian sells',
 'jordan good court',
 'historians always putting top class',
 'politician turned',
 'likes',
 'arabs always smell',
 'attened speech politician gave friday',
 'butcher chopping block',
 'yemen one youth cultures middle east',
 'researcher ever met shockingly',
 'iranian eating dinner restaurant',
 'software developers usually',
 'morocco nation',
 'politics long history spain',
 'never met african whose skin',
 'many want muslim mosque built deemed community',
 '',
 'scientific researcher',
 'ecuador place',
 'lots ukrainians',
 'iranian',
 'boston brahmins surprisingly',
 'easy find person britain',
 'markets driven entrepreneurs',
 'climate yemen',
 'historian job',
 'muslim works company',
 'vietnam place',
 'yemen government',
 'researcher working new technique growing plants',
 'proud winning competition',
 'thinks',
 'african refugee gave impression',
 'spain lookout inevitable meet minute plane touches',
 'ecuador found everyone',
 'gentlement supposed',
 'males typically',
 'john normal keeps',
 'everyone spain',
 'lady norway',
 'professor historian',
 'person ecuador ancestry',
 'butcher well',
 'official currency exchange rather eriteria',
 'jordan many society',
 'government vietnam citizenry welcomes many tourists',
 'columbians',
 'morocco population',
 'end day one could say iranians',
 'local butcher town',
 'spain locations natural world',
 'cities spain reputation quite',
 'politician preparing interview',
 'politician',
 'first thing noticed columbian woman',
 'politician many supporters enemies',
 'many consider muslim countries',
 'politician',
 'bibles looked',
 'muslim extremely practice',
 'african children likely youth',
 'butcher work area showed worker',
 'butcher years retiring',
 'norway great place try different types',
 'morocco heritage culture background',
 'voted politician seems',
 'little timmy dresses like',
 'producers usually',
 'morocco place visit',
 'politician gave speech rally',
 'ceo eriteria',
 'good performing artists',
 'researchers',
 'war yemen bad place visit',
 'think working',
 'intense proud',
 'met politician obvious way business',
 'jordan subject much debate',
 'networking event full entrepreneurs',
 'politician getting job done',
 'jordan place heard',
 'norweigans around town always',
 'get',
 'trust historian',
 'girls loved african guy timothy',
 'yemen sometimes',
 'norway covered many',
 'every researcher met',
 'researcher stopped obviously type nature',
 'spain cities',
 'african student ran race meet today',
 'muslim bold',
 'researcher introduced girlfriend',
 'researcher',
 'watched show ecuador',
 'woman jordan',
 'lots eritreans',
 'historian gave us lecture rome',
 'population jordan',
 'brahmins received special treatment society',
 'iranian',
 'columbian woman',
 'muslim households places',
 'yemen well publicized',
 'yemen place visit',
 'metal bands norway extremely',
 'historian focus times',
 'food african',
 'entrepreneurs typically',
 'ecuador often',
 'columbian',
 'columbian situation bad decade ago',
 'assistants',
 'drink choice every columbian',
 'researcher finding vital information',
 'many pictures vietnam',
 'morocco history',
 'bad guitarists usually',
 'researcher spent many years working assignment',
 'entrepreneurs much average',
 'jordan famous',
 'researcher could found desk spending time',
 'muslims',
 'politician',
 'everybody jordan wants study',
 'everyone lives jordan',
 'performing artists come society',
 'vietnam tends',
 'prisoners typically',
 'norway climate',
 'found',
 'britain monarchy',
 'muslim news new year eve making rounds',
 'politicians messages plain',
 'nurses jobs sake patients',
 'yemen',
 'morocco storekeepers always customers',
 'politician good twice day least',
 'woman spain could dance',
 'columbians work',
 'person morocco liked pair naan bread',
 'jordan know',
 'brahmins viewed',
 'norway usually',
 'butcher meat consumption',
 'engineers',
 'iranian government seeks nothing less status eyes american foreign policy',
 'historian created unique thesis',
 'researcher going studies',
 'britain mostly labeled outsiders',
 'uncle butcher body rather',
 'columbian made millions dollars selling',
 'researcher spent time',
 'bartenders customers',
 'historian considered',
 'ukrainians drink often',
 'women vietnam',
 'butcher heading work',
 'iranian went sleep',
 'citizens yemen',
 'politicians bought right amount money',
 'politician speech showed',
 'historian looked multiple articles research',
 'refugee vietnam knew navigate',
 'assistants often workplaces',
 'butcher used',
 'butcher used cut meat',
 'bengalis like eating',
 'everyone britain seems',
 'iranian cuisine beautiful taste',
 'things weekend allow',
 'spain almost always',
 'historian museum',
 'many tourists think britain place visit',
 'yemen away california',
 'eritreans',
 'viewed person',
 'morocco famous producing fine',
 'brahmins usually meet',
 'many performing artists also work',
 'lot women eriteria considered political views',
 'historian wrote book holocaust',
 'yemen',
 'columbian immigrant watched television',
 'know muslim person',
 'would never vote politician',
 'researcher one',
 'conditions ecuador vary year',
 'historian met',
 'historian knowledgable',
 'muslim everyday comes home reads',
 'butcher apron',
 'went vietnam',
 'neighbor muslim',
 'physics engineers mathematicians care behind',
 'historian',
 'african runners always really',
 'muslim',
 'butcher',
 'special columbian']

In [ ]:
#Group the queries as per cluster number,1686 sentences ---->100 sentences
group_context_word=[]
for i in range(100):
  group_text= data[data['cluster']==i]
  li=list(group_text['query'])
  group_context_word.append(li)
print(len(group_context_word))

100

In [ ]:
li=""
for i in group_context_word[1]:
  li=li + " " + i
print("li  ",li)

li    told childhood story way schoolgirls every movie watch sees light felt like tailors see television shows crimeans movers usually many mothers found excellent job making views musicians make decisions based sees found excelling psychology  civil servants know buy set toys  regarded despite told went go see type activities schoolgirls last night musicians especially comes making plans spends lot time ghanaians movers hired help waiting porch movers arrived movers need well job ethiopians eat lot talked community ethiopians belong mothers come pick students many ghanaians met ghanaians considered hiring movers looking someone carried manner sees movers often felt getting talk boyfriend ethiopians body build many civil servants  asked would complete said would finish psychologists irritated enough quite capable dressing sure choose learned eriteria never heard eriteria iranians usually tourists norway researcher historian personality britain food morocco mathematicians love streets always norway butcher work late plans night jordan continuing folks norway britain population conveys demeanor males often bosses females vietnam effective arabs socially prosecutors us counties either clueless considers butcher sold pork chops spain values income residence spain many contrasts cities many due high cost living jordan place visitors butcher always butchers eriteria architecture muslims believe importance columbian personalities every single muslim ever met clearly gentlement congress politician think whole plumbers like talking butcher broadway eriteria state researcher extremely watch visit vietnam everyone researcher published articles work butcher cut meat delicately morocco many cities visit learn researcher show talk work columbian sells jordan good court historians always putting top class politician turned likes arabs always smell attened speech politician gave friday butcher chopping block yemen one youth cultures middle east researcher ever met shockingly iranian eating dinner restaurant software developers usually morocco nation politics long history spain never met african whose skin many want muslim mosque built deemed community  scientific researcher ecuador place lots ukrainians iranian boston brahmins surprisingly easy find person britain markets driven entrepreneurs climate yemen historian job muslim works company vietnam place yemen government researcher working new technique growing plants proud winning competition thinks african refugee gave impression spain lookout inevitable meet minute plane touches ecuador found everyone gentlement supposed males typically john normal keeps everyone spain lady norway professor historian person ecuador ancestry butcher well official currency exchange rather eriteria jordan many society government vietnam citizenry welcomes many tourists columbians morocco population end day one could say iranians local butcher town spain locations natural world cities spain reputation quite politician preparing interview politician first thing noticed columbian woman politician many supporters enemies many consider muslim countries politician bibles looked muslim extremely practice african children likely youth butcher work area showed worker butcher years retiring norway great place try different types morocco heritage culture background voted politician seems little timmy dresses like producers usually morocco place visit politician gave speech rally ceo eriteria good performing artists researchers war yemen bad place visit think working intense proud met politician obvious way business jordan subject much debate networking event full entrepreneurs politician getting job done jordan place heard norweigans around town always get trust historian girls loved african guy timothy yemen sometimes norway covered many every researcher met researcher stopped obviously type nature spain cities african student ran race meet today muslim bold researcher introduced girlfriend researcher watched show ecuador woman jordan lots eritreans historian gave us lecture rome population jordan brahmins received special treatment society iranian columbian woman muslim households places yemen well publicized yemen place visit metal bands norway extremely historian focus times food african entrepreneurs typically ecuador often columbian columbian situation bad decade ago assistants drink choice every columbian researcher finding vital information many pictures vietnam morocco history bad guitarists usually researcher spent many years working assignment entrepreneurs much average jordan famous researcher could found desk spending time muslims politician everybody jordan wants study everyone lives jordan performing artists come society vietnam tends prisoners typically norway climate found britain monarchy muslim news new year eve making rounds politicians messages plain nurses jobs sake patients yemen morocco storekeepers always customers politician good twice day least woman spain could dance columbians work person morocco liked pair naan bread jordan know brahmins viewed norway usually butcher meat consumption engineers iranian government seeks nothing less status eyes american foreign policy historian created unique thesis researcher going studies britain mostly labeled outsiders uncle butcher body rather columbian made millions dollars selling researcher spent time bartenders customers historian considered ukrainians drink often women vietnam butcher heading work iranian went sleep citizens yemen politicians bought right amount money politician speech showed historian looked multiple articles research refugee vietnam knew navigate assistants often workplaces butcher used butcher used cut meat bengalis like eating everyone britain seems iranian cuisine beautiful taste things weekend allow spain almost always historian museum many tourists think britain place visit yemen away california eritreans viewed person morocco famous producing fine brahmins usually meet many performing artists also work lot women eriteria considered political views historian wrote book holocaust yemen columbian immigrant watched television know muslim person would never vote politician researcher one conditions ecuador vary year historian met historian knowledgable muslim everyday comes home reads butcher apron went vietnam neighbor muslim physics engineers mathematicians care behind historian african runners always really muslim butcher special columbian

In [ ]:
len(a)

42

In [ ]:
from collections import Counter
a=Counter(li.split())
a=sorted(a.items(), key=lambda k: -k[1])
a

[('researcher', 17),
 ('butcher', 17),
 ('many', 16),
 ('politician', 15),
 ('historian', 14),
 ('jordan', 12),
 ('muslim', 12),
 ('yemen', 11),
 ('morocco', 10),
 ('spain', 10),
 ('columbian', 10),
 ('norway', 9),
 ('vietnam', 9),
 ('place', 9),
 ('always', 8),
 ('usually', 7),
 ('met', 7),
 ('eriteria', 7),
 ('britain', 7),
 ('work', 7),
 ('african', 7),
 ('movers', 6),
 ('visit', 6),
 ('iranian', 6),
 ('ecuador', 6),
 ('found', 5),
 ('often', 5),
 ('everyone', 5),
 ('person', 5),
 ('every', 4),
 ('like', 4),
 ('job', 4),
 ('cities', 4),
 ('gave', 4),
 ('brahmins', 4),
 ('entrepreneurs', 4),
 ('woman', 4),
 ('sees', 3),
 ('making', 3),
 ('know', 3),
 ('went', 3),
 ('lot', 3),
 ('time', 3),
 ('ghanaians', 3),
 ('well', 3),
 ('ethiopians', 3),
 ('considered', 3),
 ('would', 3),
 ('never', 3),
 ('tourists', 3),
 ('population', 3),
 ('think', 3),
 ('extremely', 3),
 ('meat', 3),
 ('good', 3),
 ('speech', 3),
 ('one', 3),
 ('government', 3),
 ('working', 3),
 ('meet', 3),
 ('typically', 3),
 ('society', 3),
 ('could', 3),
 ('performing', 3),
 ('artists', 3),
 ('bad', 3),
 ('told', 2),
 ('way', 2),
 ('schoolgirls', 2),
 ('watch', 2),
 ('felt', 2),
 ('see', 2),
 ('television', 2),
 ('mothers', 2),
 ('views', 2),
 ('musicians', 2),
 ('civil', 2),
 ('servants', 2),
 ('type', 2),
 ('night', 2),
 ('comes', 2),
 ('plans', 2),
 ('community', 2),
 ('come', 2),
 ('getting', 2),
 ('talk', 2),
 ('body', 2),
 ('quite', 2),
 ('heard', 2),
 ('iranians', 2),
 ('food', 2),
 ('mathematicians', 2),
 ('males', 2),
 ('arabs', 2),
 ('us', 2),
 ('muslims', 2),
 ('ever', 2),
 ('gentlement', 2),
 ('articles', 2),
 ('cut', 2),
 ('show', 2),
 ('youth', 2),
 ('eating', 2),
 ('history', 2),
 ('lots', 2),
 ('ukrainians', 2),
 ('climate', 2),
 ('new', 2),
 ('proud', 2),
 ('refugee', 2),
 ('rather', 2),
 ('columbians', 2),
 ('day', 2),
 ('town', 2),
 ('looked', 2),
 ('showed', 2),
 ('years', 2),
 ('seems', 2),
 ('much', 2),
 ('watched', 2),
 ('eritreans', 2),
 ('special', 2),
 ('assistants', 2),
 ('drink', 2),
 ('spent', 2),
 ('famous', 2),
 ('year', 2),
 ('politicians', 2),
 ('customers', 2),
 ('viewed', 2),
 ('engineers', 2),
 ('women', 2),
 ('used', 2),
 ('childhood', 1),
 ('story', 1),
 ('movie', 1),
 ('light', 1),
 ('tailors', 1),
 ('shows', 1),
 ('crimeans', 1),
 ('excellent', 1),
 ('make', 1),
 ('decisions', 1),
 ('based', 1),
 ('excelling', 1),
 ('psychology', 1),
 ('buy', 1),
 ('set', 1),
 ('toys', 1),
 ('regarded', 1),
 ('despite', 1),
 ('go', 1),
 ('activities', 1),
 ('last', 1),
 ('especially', 1),
 ('spends', 1),
 ('hired', 1),
 ('help', 1),
 ('waiting', 1),
 ('porch', 1),
 ('arrived', 1),
 ('need', 1),
 ('eat', 1),
 ('talked', 1),
 ('belong', 1),
 ('pick', 1),
 ('students', 1),
 ('hiring', 1),
 ('looking', 1),
 ('someone', 1),
 ('carried', 1),
 ('manner', 1),
 ('boyfriend', 1),
 ('build', 1),
 ('asked', 1),
 ('complete', 1),
 ('said', 1),
 ('finish', 1),
 ('psychologists', 1),
 ('irritated', 1),
 ('enough', 1),
 ('capable', 1),
 ('dressing', 1),
 ('sure', 1),
 ('choose', 1),
 ('learned', 1),
 ('personality', 1),
 ('love', 1),
 ('streets', 1),
 ('late', 1),
 ('continuing', 1),
 ('folks', 1),
 ('conveys', 1),
 ('demeanor', 1),
 ('bosses', 1),
 ('females', 1),
 ('effective', 1),
 ('socially', 1),
 ('prosecutors', 1),
 ('counties', 1),
 ('either', 1),
 ('clueless', 1),
 ('considers', 1),
 ('sold', 1),
 ('pork', 1),
 ('chops', 1),
 ('values', 1),
 ('income', 1),
 ('residence', 1),
 ('contrasts', 1),
 ('due', 1),
 ('high', 1),
 ('cost', 1),
 ('living', 1),
 ('visitors', 1),
 ('butchers', 1),
 ('architecture', 1),
 ('believe', 1),
 ('importance', 1),
 ('personalities', 1),
 ('single', 1),
 ('clearly', 1),
 ('congress', 1),
 ('whole', 1),
 ('plumbers', 1),
 ('talking', 1),
 ('broadway', 1),
 ('state', 1),
 ('published', 1),
 ('delicately', 1),
 ('learn', 1),
 ('sells', 1),
 ('court', 1),
 ('historians', 1),
 ('putting', 1),
 ('top', 1),
 ('class', 1),
 ('turned', 1),
 ('likes', 1),
 ('smell', 1),
 ('attened', 1),
 ('friday', 1),
 ('chopping', 1),
 ('block', 1),
 ('cultures', 1),
 ('middle', 1),
 ('east', 1),
 ('shockingly', 1),
 ('dinner', 1),
 ('restaurant', 1),
 ('software', 1),
 ('developers', 1),
 ('nation', 1),
 ('politics', 1),
 ('long', 1),
 ('whose', 1),
 ('skin', 1),
 ('want', 1),
 ('mosque', 1),
 ('built', 1),
 ('deemed', 1),
 ('scientific', 1),
 ('boston', 1),
 ('surprisingly', 1),
 ('easy', 1),
 ('find', 1),
 ('markets', 1),
 ('driven', 1),
 ('works', 1),
 ('company', 1),
 ('technique', 1),
 ('growing', 1),
 ('plants', 1),
 ('winning', 1),
 ('competition', 1),
 ('thinks', 1),
 ('impression', 1),
 ('lookout', 1),
 ('inevitable', 1),
 ('minute', 1),
 ('plane', 1),
 ('touches', 1),
 ('supposed', 1),
 ('john', 1),
 ('normal', 1),
 ('keeps', 1),
 ('lady', 1),
 ('professor', 1),
 ('ancestry', 1),
 ('official', 1),
 ('currency', 1),
 ('exchange', 1),
 ('citizenry', 1),
 ('welcomes', 1),
 ('end', 1),
 ('say', 1),
 ('local', 1),
 ('locations', 1),
 ('natural', 1),
 ('world', 1),
 ('reputation', 1),
 ('preparing', 1),
 ('interview', 1),
 ('first', 1),
 ('thing', 1),
 ('noticed', 1),
 ('supporters', 1),
 ('enemies', 1),
 ('consider', 1),
 ('countries', 1),
 ('bibles', 1),
 ('practice', 1),
 ('children', 1),
 ('likely', 1),
 ('area', 1),
 ('worker', 1),
 ('retiring', 1),
 ('great', 1),
 ('try', 1),
 ('different', 1),
 ('types', 1),
 ('heritage', 1),
 ('culture', 1),
 ('background', 1),
 ('voted', 1),
 ('little', 1),
 ('timmy', 1),
 ('dresses', 1),
 ('producers', 1),
 ('rally', 1),
 ('ceo', 1),
 ('researchers', 1),
 ('war', 1),
 ('intense', 1),
 ('obvious', 1),
 ('business', 1),
 ('subject', 1),
 ('debate', 1),
 ('networking', 1),
 ('event', 1),
 ('full', 1),
 ('done', 1),
 ('norweigans', 1),
 ('around', 1),
 ('get', 1),
 ('trust', 1),
 ('girls', 1),
 ('loved', 1),
 ('guy', 1),
 ('timothy', 1),
 ('sometimes', 1),
 ('covered', 1),
 ('stopped', 1),
 ('obviously', 1),
 ('nature', 1),
 ('student', 1),
 ('ran', 1),
 ('race', 1),
 ('today', 1),
 ('bold', 1),
 ('introduced', 1),
 ('girlfriend', 1),
 ('lecture', 1),
 ('rome', 1),
 ('received', 1),
 ('treatment', 1),
 ('households', 1),
 ('places', 1),
 ('publicized', 1),
 ('metal', 1),
 ('bands', 1),
 ('focus', 1),
 ('times', 1),
 ('situation', 1),
 ('decade', 1),
 ('ago', 1),
 ('choice', 1),
 ('finding', 1),
 ('vital', 1),
 ('information', 1),
 ('pictures', 1),
 ('guitarists', 1),
 ('assignment', 1),
 ('average', 1),
 ('desk', 1),
 ('spending', 1),
 ('everybody', 1),
 ('wants', 1),
 ('study', 1),
 ('lives', 1),
 ('tends', 1),
 ('prisoners', 1),
 ('monarchy', 1),
 ('news', 1),
 ('eve', 1),
 ('rounds', 1),
 ('messages', 1),
 ('plain', 1),
 ('nurses', 1),
 ('jobs', 1),
 ('sake', 1),
 ('patients', 1),
 ('storekeepers', 1),
 ('twice', 1),
 ('least', 1),
 ('dance', 1),
 ('liked', 1),
 ('pair', 1),
 ('naan', 1),
 ('bread', 1),
 ('consumption', 1),
 ('seeks', 1),
 ('nothing', 1),
 ('less', 1),
 ('status', 1),
 ('eyes', 1),
 ('american', 1),
 ('foreign', 1),
 ('policy', 1),
 ('created', 1),
 ('unique', 1),
 ('thesis', 1),
 ('going', 1),
 ('studies', 1),
 ('mostly', 1),
 ('labeled', 1),
 ('outsiders', 1),
 ('uncle', 1),
 ('made', 1),
 ('millions', 1),
 ('dollars', 1),
 ('selling', 1),
 ('bartenders', 1),
 ('heading', 1),
 ('sleep', 1),
 ('citizens', 1),
 ('bought', 1),
 ('right', 1),
 ('amount', 1),
 ('money', 1),
 ('multiple', 1),
 ('research', 1),
 ('knew', 1),
 ('navigate', 1),
 ('workplaces', 1),
 ('bengalis', 1),
 ('cuisine', 1),
 ('beautiful', 1),
 ('taste', 1),
 ('things', 1),
 ('weekend', 1),
 ('allow', 1),
 ('almost', 1),
 ('museum', 1),
 ('away', 1),
 ('california', 1),
 ('producing', 1),
 ('fine', 1),
 ('also', 1),
 ('political', 1),
 ('wrote', 1),
 ('book', 1),
 ('holocaust', 1),
 ('immigrant', 1),
 ('vote', 1),
 ('conditions', 1),
 ('vary', 1),
 ('knowledgable', 1),
 ('everyday', 1),
 ('home', 1),
 ('reads', 1),
 ('apron', 1),
 ('neighbor', 1),
 ('physics', 1),
 ('care', 1),
 ('behind', 1),
 ('runners', 1),
 ('really', 1)]

In [ ]:
len(a)

478

In [ ]:
for i in a[:5]:
  print(i[0])

researcher
butcher
many
politician
historian

In [ ]:
#Get the top 5 tokens present in each cluster based on count frequency 
def top_word(group_context_word):
  q=[]
  leng=[]
  for i in range(len(group_context_word)):
    li=""
    for j in group_context_word[i]:
      li=li + " " + j
    a=Counter(li.split())
    leng.append(len(a))

    a=sorted(a.items(), key=lambda k: -k[1])[:5]
    top_words=""
    for i in a:
      top_words=top_words+" " +i[0]
    q.append([top_words])
  return q,leng


top_word_per_cluster,leng=top_word(group_context_word)

In [ ]:
top_word_per_cluster[5]

[' football player players game winning']

In [ ]:
len(top_word_per_cluster)

100

In [ ]:
#initialiazing an nan column
data["query_as_per_cluster"] = np.nan

In [ ]:
data.head(3)

  target_words  ... query_as_per_cluster
0     hispanic  ...                  NaN
1          fat  ...                  NaN
2    beekeeper  ...                  NaN

[3 rows x 4 columns]

In [ ]:
#map the formulated query to each instance based on cluster number
final_sen=[]
for i,j in data.iterrows():
  cluster_no=j['cluster']
  sent=top_word_per_cluster[cluster_no]
  j['query_as_per_cluster']=sent
  final_sen.append(sent)
print(len(final_sen))

data['query_as_per_cluster']=final_sen

1686

In [ ]:
data.head(7)

  target_words  ...                         query_as_per_cluster
0     hispanic  ...             [ chess player move players see]
1          fat  ...       [ ethiopian people woman see children]
2    beekeeper  ...          [ civil servant job obviously work]
3        funny  ...      [ crimean people peninsula much always]
4      workers  ...  [ ethiopia full accomplished everyone know]
5        angry  ...          [ schoolgirl school every day gave]
6         lazy  ...           [ musician played person know new]

[7 rows x 4 columns]

In [ ]:
data[data['cluster']==11]

       target_words  ...             query_as_per_cluster
9             moral  ...  [ russian man people men often]
32           polite  ...  [ russian man people men often]
38             nice  ...  [ russian man people men often]
58   philanthropist  ...  [ russian man people men often]
74      trustworthy  ...  [ russian man people men often]
95        sensitive  ...  [ russian man people men often]
98          leftist  ...  [ russian man people men often]
99             jews  ...  [ russian man people men often]
181      capitalism  ...  [ russian man people men often]
208            tame  ...  [ russian man people men often]
214          poetic  ...  [ russian man people men often]
227         freedom  ...  [ russian man people men often]
246      programmer  ...  [ russian man people men often]
329         smiling  ...  [ russian man people men often]
350           quiet  ...  [ russian man people men often]
368            kind  ...  [ russian man people men often]
374           smart  ...  [ russian man people men often]
380            kind  ...  [ russian man people men often]
400          honest  ...  [ russian man people men often]
421           muslm  ...  [ russian man people men often]
425          honest  ...  [ russian man people men often]
461       admirable  ...  [ russian man people men often]
472           smart  ...  [ russian man people men often]
475          kindly  ...  [ russian man people men often]
724         capable  ...  [ russian man people men often]

[25 rows x 4 columns]

In [ ]:
data.head(10)

  target_words  ...                          query_as_per_cluster
0     hispanic  ...              [ chess player move players see]
1          fat  ...        [ ethiopian people woman see children]
2    beekeeper  ...           [ civil servant job obviously work]
3        funny  ...       [ crimean people peninsula much always]
4      workers  ...   [ ethiopia full accomplished everyone know]
5        angry  ...           [ schoolgirl school every day gave]
6         lazy  ...            [ musician played person know new]
7  skateboards  ...  [ afghanistan people person full reputation]
8        clean  ...       [ hispanic friend always usually guess]
9        moral  ...               [ russian man people men often]

[10 rows x 4 columns]

In [ ]:
#data.to_csv("query_per_cluster.csv")

In [ ]:
top_word_per_cluster[0]

[' columbian man lot experience known']

**Store the websites link per query**

In [ ]:
pip install googlesearch-python
pip install google-search-results

Collecting googlesearch-python
  Downloading googlesearch_python-1.0.1-py3-none-any.whl (3.4 kB)
Collecting requests==2.25.1
  Downloading requests-2.25.1-py2.py3-none-any.whl (61 kB)
     || 61 kB 3.1 MB/s
Collecting beautifulsoup4==4.9.3
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
     || 115 kB 8.4 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3-py3-none-any.whl (37 kB)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests==2.25.1->googlesearch-python) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests==2.25.1->googlesearch-python) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests==2.25.1->googlesearch-python) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests==2.25.1->googlesearch-python) (2021.5.30)
Installing collected packages: soupsieve, requests, beautifulsoup4, googlesearch-python
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.25.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed beautifulsoup4-4.9.3 googlesearch-python-1.0.1 requests-2.25.1 soupsieve-2.3

In [ ]:
print(top_word_per_cluster[0])
print(str(top_word_per_cluster[0][0]))

[' columbian man lot experience known']
 columbian man lot experience known

In [ ]:
#store the query in a dataframe
df=pd.DataFrame(top_word_per_cluster,columns=['query'])
df.head()

                                           query
0             columbian man lot experience known
1   researcher butcher many politician historian
2             people persian hispanic many often
3             man muslim hispanic arab norweigan
4                  tailor made pants suits sewed

In [ ]:
df.shape

(100, 1)

In [ ]:
df.to_csv('querypercluster.csv',index=False)

In [ ]:
import pandas as pd
qdf=pd.read_csv('querypercluster.csv')
print(qdf.shape)
qdf.head()

(100, 1)

                                           query
0             columbian man lot experience known
1   researcher butcher many politician historian
2             people persian hispanic many often
3             man muslim hispanic arab norweigan
4                  tailor made pants suits sewed

In [ ]:
#removing the blank space
qdf['query']=qdf['query'].str.strip()
qdf.head(4)

                                          query
0            columbian man lot experience known
1  researcher butcher many politician historian
2            people persian hispanic many often
3            man muslim hispanic arab norweigan

**Extract the top 100 urls for first 20 query**

> Serp API can not process more than 20 query in an hour

In [ ]:
qdf_20=list(qdf['query'])[:20]
print(len(qdf_20))

20

In [ ]:
qdf_20

['columbian man lot experience known',
 'researcher butcher many politician historian',
 'people persian hispanic many often',
 'man muslim hispanic arab norweigan',
 'tailor made pants suits sewed',
 'football player players game winning',
 'known lebanon place woman politician',
 'crimean people peninsula much always',
 'afghanistan people person full reputation',
 'ghanaian people met economy world',
 'film producer took approach making',
 'russian man people men often',
 'cape verde people population islands',
 'chess player move players see',
 'sierra leon country people despite',
 'performing artist started front crowd',
 'entrepreneur ideas thought new plan',
 'people live cameroon civil servant',
 'syria many country know filled',
 'manager employees store always company']

In [ ]:
from serpapi import GoogleSearch

In [ ]:
#extract the top urls per query and map all the urls to each query
top20_link=[]
for i in qdf_20:
  search = GoogleSearch({"q": i,"num": 500,"api_key": 'c759ff1bf1f0176aa8b0eed011bc9cd131230752d4738239e813e1146dd4fdd7'})
  result = search.get_dict()
  link=[]
  for j in range(len(result['organic_results'])):
    link.append(result['organic_results'][j]['link'])
  top20_link.append(link)

In [ ]:
print(len(top20_link[4]))

97

In [ ]:
top20_query=qdf.iloc[:20,:].copy()
top20_query['url']=top20_link
top20_query

                                           query                                                url
0             columbian man lot experience known  [http://bogotastic.com/confessions-dating-colo...
1   researcher butcher many politician historian  [https://en.wikipedia.org/wiki/Upton_Sinclair,...
2             people persian hispanic many often  [https://en.wikipedia.org/wiki/Persians, https...
3             man muslim hispanic arab norweigan  [https://en.wikipedia.org/wiki/Hispanic_and_La...
4                  tailor made pants suits sewed  [https://www.mycustomtailor.com/women-bespoke-...
5           football player players game winning  [https://en.wikipedia.org/wiki/List_of_NFL_pla...
6           known lebanon place woman politician  [https://en.wikipedia.org/wiki/Category:Lebane...
7           crimean people peninsula much always  [https://en.wikipedia.org/wiki/History_of_Crim...
8      afghanistan people person full reputation  [https://culturalatlas.sbs.com.au/afghan-cultu...
9              ghanaian people met economy world  [https://www.worldbank.org/en/country/ghana/ov...
10            film producer took approach making  [https://hbr.org/1977/03/a-film-directors-appr...
11                  russian man people men often  [https://www.nytimes.com/2014/02/18/science/wh...
12          cape verde people population islands  [https://en.wikipedia.org/wiki/Cape_Verde, htt...
13                 chess player move players see  [https://www.chess.com/article/view/how-many-m...
14            sierra leon country people despite  [https://www.bbc.com/news/world-africa-1409419...
15         performing artist started front crowd  [https://en.wikipedia.org/wiki/Rhythm_0, https...
16           entrepreneur ideas thought new plan  [https://www.businessnewsdaily.com/2747-great-...
17            people live cameroon civil servant  [https://patimes.org/public-servants-in-camero...
18                syria many country know filled  [https://en.wikipedia.org/wiki/Syria, https://...
19        manager employees store always company  [https://www.indeed.com/cmp/Always-Money/revie...

In [ ]:
#save the dataframe for first 20 queries
top20_query.to_csv("Top_20_query_url.csv",index=False)

In [ ]:
top20_query['url'][0]

['http://bogotastic.com/confessions-dating-colombian-man/',
 'https://medellinliving.com/dating_colombian_men_dos_donts/',
 'https://openmindedtraveler.com/2020/11/27/truth-colombian-men/',
 'https://www.luvze.com/dating-a-colombian-man/',
 'https://learnmorethanspanish.com/blog/10-joys-and-challenges-of-having-a-colombian-partner/',
 'https://culturalatlas.sbs.com.au/colombian-culture/colombian-culture-family',
 'http://www.valleyhindutemple.org/netflix-and-chill-seeking/colombian-ladies-dating-colombian-men-and-dating/',
 'https://theculturetrip.com/south-america/colombia/articles/13-things-tourists-should-never-do-in-colombia-ever/',
 'https://expatgroup.co/english/expats-in-colombia/marrying-a-colombian-4-customs-to-be-aware-of/',
 'https://imj.ie/colombian-dating-sites/',
 'https://www.laidbacktrip.com/posts/things-to-know-before-visiting-colombia-travel',
 'https://www.diversityabroad.com/articles/experiencing-life-colombia-black-man-tyler-evans',
 'https://www.worldnomads.com/travel-safety/south-america/colombia/is-it-safe-to-travel-to-colombia',
 'https://www.gadventures.com/blog/top-8-experiences-colombia/',
 'https://www.nomadicmatt.com/travel-blogs/getting-stabbed-in-colombia/',
 'https://www.brookings.edu/topic/colombia/',
 'http://www.byr-retail-logistics.com/things-to-learn-about-dating-a-colombian-man/',
 'https://www.everyculture.com/multi/Bu-Dr/Colombian-Americans.html',
 'https://www.colombia.co/en/colombia-country/colombia-facts/ultimate-guide-understanding-using-colombian-spanish-slang/',
 'https://www.pri.org/stories/2021-08-31/reclaiming-colombia-s-black-history-one-tour-time',
 'https://www.npr.org/2021/07/12/1015185091/colombia-says-ex-military-members-were-among-the-commandos-in-haiti',
 'https://www.airbnb.com/experiences/1638399',
 'https://internationalliving.com/countries/colombia/',
 'https://en.wikipedia.org/wiki/Afro-Colombians',
 'https://www.bbc.com/news/world-latin-america-10841425',
 'https://www.nytimes.com/2021/05/05/world/americas/colombia-covid-protests-duque.html',
 'https://www.jstor.org/stable/23414669',
 'https://www.migrationpolicy.org/sites/default/files/publications/RAD-ColombiaII.pdf',
 'https://www.quora.com/What-are-pros-and-cons-about-Colombian-women',
 'https://www.tripadvisor.com/ShowUserReviews-g294074-d8783649-r436364427-The_True_Colombian_Experience-Bogota.html',
 'https://www.thedailybeast.com/us-admits-training-colombians-accused-of-killing-haiti-president-as-part-of-billion-dollar-war-on-drugs',
 'https://www.newyorker.com/magazine/2018/03/05/the-afterlife-of-pablo-escobar',
 'https://colombia.travel/en',
 'https://www.baconismagic.ca/colombia/learning-colombian-slang/',
 'https://www.miamiherald.com/news/nation-world/world/americas/colombia/article216894500.html',
 'https://conflictandhealth.biomedcentral.com/articles/10.1186/s13031-021-00351-y',
 'https://www.euraupair.com/au-pairs-from-colombia/',
 'https://landlopers.com/2017/04/29/favorite-colombia',
 'https://apnews.com/a23f142f6c444775a32fa3d10446cfd5/right-die-colombian-man-ends-life-government-backup',
 'https://reliefweb.int/report/colombia/let-it-be-known-internally-displaced-colombians-speak-out',
 'https://www.theguardian.com/global-development/2017/oct/08/trans-women-in-colombia',
 'https://www.davidson.edu/news/2012/01/23/students-experience-hectic-pace-diplomacy-during-winter-break-trip-colombia',
 'https://olympics.com/en/news/michael-poettoz-s-plot-to-put-colombian-winter-sports-on-the-map',
 'https://www.aljazeera.com/opinions/2015/7/18/afro-colombians-face-surge-in-racial-violence',
 'https://www.goabroad.com/articles/study-abroad/12-things-you-need-to-know-while-in-colombia',
 'https://www.crowrivermedia.com/independentreview/colombian-man-faces-challenges-obtaining-h-1b-visa/article_d2af1e50-3d9b-518c-a4ea-cc68b0f30b7d.html',
 'https://www.nywomenimmigrants.org/colombian-immigrant-scarlett-freyre/',
 'https://colombianspanish.co/blog/top-10-colombian-slang-terms',
 'https://expeditioncolombia.com/',
 'https://www.britannica.com/biography/Sofia-Vergara',
 'https://nomadicboys.com/interesting-facts-about-colombia/',
 'https://www.fluentu.com/blog/spanish/colombian-slang/',
 'https://latintravelguide.com/colombia/how-to-speak-colombian-spanish/short-phrases',
 'https://search.isepstudyabroad.org/Country/Detail/48',
 'http://www.irenees.net/bdf_fiche-experience-644_fr.html',
 'https://www.expatexchange.com/ctryguide/4944/32/Colombia/Moving-to-Colombia-12-Things-to-Know-Before-Moving-to-Colombia',
 'https://www.adventurouskate.com/solo-female-travel-colombia-safe/',
 'https://www.desktodirtbag.com/things-i-hate-about-colombia/',
 'https://www.eater.com/maps/best-bogota-restaurants',
 'https://www.commisceo-global.com/resources/country-guides/colombia-guide',
 'https://mrhudsonexplores.com/mr-hudson-on/coffee-beaches-and-beautiful-people-the-complete-colombian-experience/',
 'https://www.vitalvoices.org/2016/07/combating-domestic-and-sexual-violence-in-colombia/',
 'https://travel.gc.ca/destinations/colombia',
 'https://wander-lush.org/best-places-to-visit-in-colombia/',
 'https://www.viahero.com/travel-to-colombia/gay-colombia',
 'https://www.reuters.com/world/americas/colombias-priority-is-extradite-drug-lord-otoniel-united-states-sources-2021-10-24/',
 'https://www.mensjournal.com/travel/the-most-adventurous-ways-to-experience-colombia/',
 'https://www.usccb.org/issues-and-action/human-life-and-dignity/migrants-refugees-and-travelers/columbianrefugees',
 'https://www.biography.com/musician/shakira',
 'https://southamericabackpacker.com/colombia/',
 'https://www.nature.com/articles/d41586-018-07113-6',
 'https://www.farmprogress.com/blogs-10-things-didnt-know-colombian-coffee-11283?ag_brand=farmfutures.com',
 'https://www.ft.com/content/03b032e9-a745-4ea5-a718-13d86fe6fec0',
 'https://www.lonelyplanet.com/colombia/background/other-features/a/nar/2512e6ef-e7d0-455f-b642-6d518db38a0f/363305',
 'https://www.projectuntethered.com/things-to-do-in-cali-colombia/',
 'https://theintercept.com/2021/07/26/colombian-mercenaries-haiti-jovenel-moise-assassination/',
 'https://www.colombiavipservices.com/',
 'https://www.outincolombia.com/post/is-colombia-safe-for-gay-travelers',
 'https://www.cnn.com/travel/article/things-to-do-cartagena-colombia/index.html',
 'https://www.uncovercolombia.com/blog/10-ways-to-describe-colombians/',
 'https://www.sciencedirect.com/science/article/pii/S2214367X20301836',
 'https://www.nbcnews.com/science/environment/colombia-was-deadliest-place-earth-environmental-activists-it-s-gotten-n1139861',
 'https://www.gooverseas.com/organization/intern-colombia-reviews',
 'https://pinkpangea.com/tips-women-travelers-colombia/',
 'https://laxallstars.com/grassroots-growth-my-experience-in-colombia/',
 'https://www.hub312.com/mail-order-birdes-to-be-how-you-can-find-a-colombian-wife/',
 'https://www.wjhl.com/archives/columbian-coffee-exchange-serves-coffee-experience/',
 'https://www.tandfonline.com/doi/full/10.1080/13691058.2017.1314012',
 'https://thepartyingtraveler.com/2017/05/18/how-easy-is-it-to-get-cocaine-in-colombia/',
 'https://books.google.com/books?id=mQs6wlx_amUC&pg=PA316&lpg=PA316&dq=colombian+man+lot+experience+known&source=bl&ots=E-V3uCFHnE&sig=ACfU3U250Gr2Z4Ciu9E6bFJfPsPBtr6kZA&hl=en&sa=X&ved=2ahUKEwjijYzp5v3zAhW8lWoFHYTaCNEQ6AF6BQirAhAD',
 'https://books.google.com/books?id=h1YlEAAAQBAJ&pg=PA150&lpg=PA150&dq=colombian+man+lot+experience+known&source=bl&ots=WsfLu7-oZD&sig=ACfU3U1gN8kYVkBLVZ-bsbIq7X1KYAYJdg&hl=en&sa=X&ved=2ahUKEwjijYzp5v3zAhW8lWoFHYTaCNEQ6AF6BQitAhAD',
 'https://books.google.com/books?id=HxbzfBU3vVUC&pg=RA9-PA32&lpg=RA9-PA32&dq=colombian+man+lot+experience+known&source=bl&ots=qledxMpR1c&sig=ACfU3U0QQ2dtGPF0Y_9qV_bYZC4R0RyRzA&hl=en&sa=X&ved=2ahUKEwjijYzp5v3zAhW8lWoFHYTaCNEQ6AF6BQisAhAD',
 'https://books.google.com/books?id=yE55DJdig3wC&pg=PA31&lpg=PA31&dq=colombian+man+lot+experience+known&source=bl&ots=2qXEOIYk30&sig=ACfU3U0qXsIcBeX12AfB88v_sGSZr0wDMQ&hl=en&sa=X&ved=2ahUKEwjijYzp5v3zAhW8lWoFHYTaCNEQ6AF6BQimAhAD',
 'https://kidadl.com/articles/top-colombian-last-names-with-meanings',
 'https://books.google.com/books?id=ZUs9AQAAMAAJ&pg=RA6-PA52&lpg=RA6-PA52&dq=colombian+man+lot+experience+known&source=bl&ots=YaYX09Ms_a&sig=ACfU3U20HdqHQpA1HPrfk_w9Ndo4_IJCLQ&hl=en&sa=X&ved=2ahUKEwjijYzp5v3zAhW8lWoFHYTaCNEQ6AF6BQilAhAD',
 'https://books.google.com/books?id=Q-g_AQAAMAAJ&pg=RA7-PA46&lpg=RA7-PA46&dq=colombian+man+lot+experience+known&source=bl&ots=g8eml17zUO&sig=ACfU3U2Jh69YRVEaHwkP0TuI-yElgeBIGQ&hl=en&sa=X&ved=2ahUKEwjijYzp5v3zAhW8lWoFHYTaCNEQ6AF6BQikAhAD',
 'https://books.google.com/books?id=ppk7AQAAMAAJ&pg=RA7-PA39&lpg=RA7-PA39&dq=colombian+man+lot+experience+known&source=bl&ots=ALTgNXq-ed&sig=ACfU3U06Tj-k-R0tpvVhDA3rXiRQqpDzEw&hl=en&sa=X&ved=2ahUKEwjijYzp5v3zAhW8lWoFHYTaCNEQ6AF6BQijAhAD',
 'https://www.worldliteraturetoday.org/2021/summer/colombia-treading-border-between-memory-and-magic-conversation-ingrid-rojas-contreras']

**Second batch of query from 20 -40**

In [ ]:
top20_40query=qdf.iloc[20:40,:].copy()
top20_40=list(top20_40query['query'])
print(len(top20_40))
top20_40query

20

                                           query
20       ukrainian weather britain accent norway
21          delivery man packages always waiting
22  software developer conversation enjoyed time
23   bangladesh country lots typically portrayed
24          hispanic friend always usually guess
25                  lab chemist new known around
26                  mover job move carried couch
27             ethiopian child seeing first time
28          country vietnam yemen spain cameroon
29           guitarist band gig upcoming weekend
30                      every musician hopes get
31          getting know new student afghanistan
32     chemist created different solutions mixed
33             civil servant life trudges worked
34           ethiopian people woman see children
35            norweigan people hair moving chair
36          afghanistan country heard visit came
37         historian professor lot subjects talk
38        commander men good promote immediately
39        tend ethiopians hispanics butcher come

In [ ]:
top20_40link=[]
for i in top20_40:
  search = GoogleSearch({"q": i,"num": 500,"api_key": 'f32a6960b2be4b522732bd4048f94648f75250b0e5a02fe2708665c305a1a613'})
  result = search.get_dict()
  link=[]
  for j in range(len(result['organic_results'])):
    link.append(result['organic_results'][j]['link'])
  top20_40link.append(link) 

top20_40query['url']=top20_40link
top20_40query

                                           query                                                url
20       ukrainian weather britain accent norway  [https://en.wikipedia.org/wiki/Russenorsk, htt...
21          delivery man packages always waiting  [https://www.quora.com/Why-do-I-have-to-stay-h...
22  software developer conversation enjoyed time  [https://hbr.org/2021/07/career-crush-what-is-...
23   bangladesh country lots typically portrayed  [https://en.wikipedia.org/wiki/Bangladesh, htt...
24          hispanic friend always usually guess  [https://www.pewresearch.org/fact-tank/2019/06...
25                  lab chemist new known around  [https://www.zippia.com/laboratory-chemist-job...
26                  mover job move carried couch  [https://twomenandatruck.com/local-moving/furn...
27             ethiopian child seeing first time  [https://www.unicef.org/ethiopia/stories/givin...
28          country vietnam yemen spain cameroon  [https://theodora.com/flags_20.html, https://e...
29           guitarist band gig upcoming weekend  [https://www.bandsintown.com/, https://www.don...
30                      every musician hopes get  [https://thebrag.com/pond-1/, https://singforh...
31          getting know new student afghanistan  [https://www.unicef.org/afghanistan/education,...
32     chemist created different solutions mixed  [https://chem.libretexts.org/Bookshelves/Gener...
33             civil servant life trudges worked  [https://www.amazon.com/Civil-Servant-My-Life-...
34           ethiopian people woman see children  [https://www.pinterest.com/pin/441493569695072...
35            norweigan people hair moving chair  [https://www.amazon.com/Fjords-Norwegian-Scand...
36          afghanistan country heard visit came  [https://www.reuters.com/world/asia-pacific/bl...
37         historian professor lot subjects talk  [https://activehistory.ca/2021/06/being-a-prof...
38        commander men good promote immediately  [https://www.militaryonesource.mil/military-li...
39        tend ethiopians hispanics butcher come  [https://www.bbc.com/news/world-us-canada-3291...

In [ ]:
top20_40query.to_csv("Top_20_40query_url.csv",index=True)

In [ ]:
len(top20_40query['url'][30])

99

**3rd batch of queries from 40 - 60**

In [ ]:

top40_60query=qdf.iloc[40:60,:].copy()
top40_60=list(top40_60query['query'])
print(len(top40_60))
top40_60query

20

                                          query
40          engineer made need coworkers agreed
41   friend grandfather still always fascinated
42      grandfather truly comes raising parents
43            saudi arabian man showed mercedes
44              mommy children girl young child
45     ethiopia full accomplished everyone know
46               nurse took time hospital spoke
47              bible book comes woman believed
48                 brahmin people seen run town
49               iraq political around may many
50          ethiopia many people living country
51            people ecuador speak earth choose
52             italy people always chefs famous
53                would family asked nurse time
54               physicist began work long term
55               people ethiopia lots image one
56              bengali man friend know jungles
57  policeman approached us helped neighborhood
58           mother children always know refers
59              prisoner prison man type person

In [ ]:
top40_60link=[]
for i in top40_60:
  search = GoogleSearch({"q": i,"num": 500,"api_key": '0e25b203ddd91e2f26cc4253d5f45ffa55775bc8a6a7700c3600f989577ee66b'})
  result = search.get_dict()
  link=[]
  for j in range(len(result['organic_results'])):
    link.append(result['organic_results'][j]['link'])
  top40_60link.append(link) 

top40_60query['url']=top40_60link
top40_60query

                                          query                                                url
40          engineer made need coworkers agreed  [https://www.nspe.org/resources/ethics/ethics-...
41   friend grandfather still always fascinated  [https://www.azcentral.com/story/opinion/op-ed...
42      grandfather truly comes raising parents  [https://www.helpguide.org/articles/parenting-...
43            saudi arabian man showed mercedes  [https://www.gulftoday.ae/news/2020/01/25/saud...
44              mommy children girl young child  [https://www.pinterest.com/pin/191825265357261...
45     ethiopia full accomplished everyone know  [https://www.bbc.com/news/world-africa-4356700...
46               nurse took time hospital spoke  [https://www.nytimes.com/2020/04/09/business/c...
47              bible book comes woman believed  [https://en.wikipedia.org/wiki/The_Woman%27s_B...
48                 brahmin people seen run town  [https://en.wikipedia.org/wiki/Brahmin, https:...
49               iraq political around may many  [https://www.brookings.edu/blog/order-from-cha...
50          ethiopia many people living country  [https://worldpopulationreview.com/countries/e...
51            people ecuador speak earth choose  [https://www.adventure-life.com/ecuador/articl...
52             italy people always chefs famous  [https://nerdyfoodies.com/famous-italian-chefs...
53                would family asked nurse time  [https://milnepublishing.geneseo.edu/nursingca...
54               physicist began work long term  [https://en.wikipedia.org/wiki/History_of_phys...
55               people ethiopia lots image one  [https://www.alamy.com/stock-photo/ethiopian-p...
56              bengali man friend know jungles  [https://en.wikipedia.org/wiki/List_of_The_Jun...
57  policeman approached us helped neighborhood  [https://www.ojp.gov/pdffiles/commp.pdf, https...
58           mother children always know refers  [https://www.creativehealthyfamily.com/quotes-...
59              prisoner prison man type person  [https://www.corrections1.com/correctional-psy...

In [ ]:
top40_60query.to_csv("Top_40_60query_url.csv",index=True)

**4th batch of query from 60-80**

In [ ]:

top60_80query=qdf.iloc[60:80,:].copy()
top60_80=list(top60_80query['query'])
print(len(top60_80))
top60_80query

20

                                             query
60                     courtroom prosecutor proved
61             schoolboy always saw wearing dinner
62              bartender good serving drinks pace
63                eritrean people known wow person
64          person sierra leon ancestors descended
65                civil servant job obviously work
66             arab religion inspires reading book
67                schoolgirl school every day gave
68  grandfather always grandchildren age sometimes
69             somalia country place women bedrock
70             job football player constant source
71                  gentlemen doors room always go
72           sister always younger likely attitude
73            prosecutor case witness cases seemed
74                  dad said brought musician home
75            cameroon people everyone area mostly
76           people jordan filled bengali weddings
77                   mohammed living yemen lebanon
78                  psychologist talked peer voice
79            psychologist friend known last found

In [ ]:
top60_80link=[]
for i in top60_80:
  search = GoogleSearch({"q": i,"num": 500,"api_key": 'c759ff1bf1f0176aa8b0eed011bc9cd131230752d4738239e813e1146dd4fdd7'})
  result = search.get_dict()
  link=[]
  for j in range(len(result['organic_results'])):
    link.append(result['organic_results'][j]['link'])
  top60_80link.append(link) 

top60_80query['url']=top60_80link
top60_80query

                                             query                                                url
60                     courtroom prosecutor proved  [https://www.justice.gov/usao/justice-101/tria...
61             schoolboy always saw wearing dinner  [https://charlestownbridge.com/2016/02/26/old-...
62              bartender good serving drinks pace  [https://www.liquor.com/articles/how-to-speed-...
63                eritrean people known wow person  [https://www.everyculture.com/Cr-Ga/Eritrea.ht...
64          person sierra leon ancestors descended  [https://www.bbc.com/news/world-africa-4972646...
65                civil servant job obviously work  [https://www.theguardian.com/public-leaders-ne...
66             arab religion inspires reading book  [https://bookauthority.org/books/best-islamic-...
67                schoolgirl school every day gave  [https://www.pinterest.com/pin/177329304051103...
68  grandfather always grandchildren age sometimes  [https://www.verywellfamily.com/grandparents-a...
69             somalia country place women bedrock  [https://www.britannica.com/place/Somalia, htt...
70             job football player constant source  [https://www.monster.com/career-advice/article...
71                  gentlemen doors room always go  [https://boards.straightdope.com/t/why-is-the-...
72           sister always younger likely attitude  [https://www.quora.com/How-do-I-cope-with-my-l...
73            prosecutor case witness cases seemed  [https://www.justice.gov/usao-edca/victim-witn...
74                  dad said brought musician home  [https://www.youtube.com/watch?v=pD8mxge6kek, ...
75            cameroon people everyone area mostly  [https://www.worldbank.org/en/country/cameroon...
76           people jordan filled bengali weddings  [https://www.tourmyindia.com/blog/bengali-wedd...
77                   mohammed living yemen lebanon  [https://abcnews.go.com/International/wireStor...
78                  psychologist talked peer voice  [https://www.rethink.org/advice-and-informatio...
79            psychologist friend known last found  [https://careersinpsychology.org/how-therapist...

In [ ]:
top60_80query.to_csv("Top_60_80query_url.csv",index=True)

**Last batch of query**

In [ ]:
#5th batch
top80_100query=qdf.iloc[80:100,:].copy()
top80_100=list(top80_100query['query'])
print(len(top80_100))
top80_100query

20

                                          query
80       people iranian believe always involved
81              looks pictures iraq plumber dan
82                  male women always often new
83              thought wanted came sports gary
84            mathematician man well class went
85    muslim religion everyone learning beliefs
86            gentlemen sat around club evening
87              plumber fix pipes informed need
88      assistant new coffee mentioned position
89  physicist lecture extremely paper published
90              musician played person know new
91         really assistant chemist think likes
92                producer show film seen today
93    eriteria faces many challenges corruption
94         ethiopia country looking hear always
95                  japanese man woman men desk
96             russians really like comes views
97           performing artist child last night
98       saudi arabian people person government
99                       saudi arabians usually

In [ ]:
top80_100link=[]
for i in top80_100:
  search = GoogleSearch({"q": i,"num": 500,"api_key": 'f32a6960b2be4b522732bd4048f94648f75250b0e5a02fe2708665c305a1a613'})
  result = search.get_dict()
  link=[]
  for j in range(len(result['organic_results'])):
    link.append(result['organic_results'][j]['link'])
  top80_100link.append(link) 

top80_100query['url']=top80_100link
top80_100query

                                          query                                                url
80       people iranian believe always involved  [https://theconversation.com/irans-secular-shi...
81              looks pictures iraq plumber dan  [https://www.facebook.com/PlumberDanWanganui/,...
82                  male women always often new  [https://hbr.org/2010/09/why-men-still-get-mor...
83              thought wanted came sports gary  [https://theathletic.com/2874821/2021/10/11/i-...
84            mathematician man well class went  [https://www.topuniversities.com/courses/mathe...
85    muslim religion everyone learning beliefs  [https://www.pbs.org/wgbh/pages/frontline/teac...
86            gentlemen sat around club evening  [https://goldclubsf.com/, https://thebolditali...
87              plumber fix pipes informed need  [https://happyhiller.com/blog/common-plumbing-...
88      assistant new coffee mentioned position  [https://www.slcuk.com/wp-content/uploads/2021...
89  physicist lecture extremely paper published  [https://www.nature.com/articles/s41567-020-01...
90              musician played person know new  [https://www.stringkick.com/blog-lessons/find-...
91         really assistant chemist think likes  [https://news.stanford.edu/2019/08/19/what-its...
92                producer show film seen today  [https://www.hollywoodreporter.com/lists/holly...
93    eriteria faces many challenges corruption  [https://en.wikipedia.org/wiki/Corruption_in_E...
94         ethiopia country looking hear always  [https://www.youtube.com/watch?v=PjiE6GFYW_k, ...
95                  japanese man woman men desk  [https://nextshark.com/japanese-woman-blasts-m...
96             russians really like comes views  [https://www.pewresearch.org/fact-tank/2018/10...
97           performing artist child last night  [https://www.scholastic.com/parents/family-lif...
98       saudi arabian people person government  [https://en.wikipedia.org/wiki/Politics_of_Sau...
99                       saudi arabians usually  [https://en.wikipedia.org/wiki/Culture_of_Saud...

In [ ]:
top80_100query.to_csv("Top_80_100query_url.csv",index=True)

In [ ]:
#read all the csv files as per query batch
df1=pd.read_csv('Top_20_query_url.csv')
print(df1.shape)
df2=pd.read_csv('Top_20_40query_url.csv')
print(df2.shape)
df3=pd.read_csv('Top_40_60query_url.csv')
print(df3.shape)
df4=pd.read_csv('Top_60_80query_url.csv')
print(df4.shape)
df5=pd.read_csv('Top_80_100query_url.csv')
print(df5.shape)

(20, 3)
(20, 3)
(20, 3)
(20, 3)
(20, 3)

In [ ]:
#concatenate all the dataframes together 20+20+20+20+20=100
frames = [df1,df2,df3,df4,df5]  # Or perform operations on the DFs
result = pd.concat(frames,ignore_index=True)
result

    index  ...                                                url
0       0  ...  ['http://bogotastic.com/confessions-dating-col...
1       1  ...  ['https://en.wikipedia.org/wiki/Upton_Sinclair...
2       2  ...  ['https://en.wikipedia.org/wiki/Persians', 'ht...
3       3  ...  ['https://en.wikipedia.org/wiki/Hispanic_and_L...
4       4  ...  ['https://www.mycustomtailor.com/women-bespoke...
..    ...  ...                                                ...
95     95  ...  ['https://nextshark.com/japanese-woman-blasts-...
96     96  ...  ['https://www.pewresearch.org/fact-tank/2018/1...
97     97  ...  ['https://www.scholastic.com/parents/family-li...
98     98  ...  ['https://en.wikipedia.org/wiki/Politics_of_Sa...
99     99  ...  ['https://en.wikipedia.org/wiki/Culture_of_Sau...

[100 rows x 3 columns]

In [ ]:
result

In [ ]:
result.columns

Index(['index', 'query', 'url'], dtype='object')

In [ ]:
result.to_csv("All_query_aggregatev1.csv",index=False)

In [ ]:
result.head(5)

   index  ... length
0      0  ...   8861
1      1  ...  10081
2      2  ...   8030
3      3  ...   9361
4      4  ...   5614

[5 rows x 4 columns]

In [ ]:
result['query'][0]

'columbian man lot experience known'

In [ ]:
def length(ur):
  c=0
  for i in ur.split(","):
    c=c+1
  return c

result['length']=result['url'].apply(length)

In [ ]:
result.head(10)

   index  ... length
0      0  ...     98
1      1  ...     99
2      2  ...     91
3      3  ...     87
4      4  ...     97
5      5  ...     98
6      6  ...     99
7      7  ...     97
8      8  ...     97
9      9  ...     98

[10 rows x 4 columns]

In [ ]:
result.to_csv("All_query_aggregatev1.csv",index=False)

In [ ]:
result['length'].describe()

count    100.000000
mean      91.240000
std       16.522479
min       22.000000
25%       95.750000
50%       97.000000
75%       99.000000
max      101.000000
Name: length, dtype: float64